{% extends 'base.html' %}
{% block title %} Payment portal for the game{{request.user.username}}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
     <h2>Welcome {{request.user.username}}</h2>
	 <h2>Continue with the payment of {{game_name}}</h2>
{% else %}
     <a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Register</a>
{% endif %}
<style>
body {
    background: #555;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}
</style>
<div id = "centertag" class="content">
<p>Wait this the entire processing is done and refrain from reloading the page!!</p>
<form action="https://simplepayments.herokuapp.com/pay/" method="POST">
    <input type="hidden" name="pid" value="{{pid}}" />
    <input type="hidden" name="sid" value="shaptarshibasu" />
    <input type="hidden" name="success_url" value="https://tranquil-springs-62093.herokuapp.com//payment_successful/" />
    <input type="hidden" name="cancel_url" value="https://tranquil-springs-62093.herokuapp.com//payment_cancelled" />
    <input type="hidden" name="error_url" value="https://tranquil-springs-62093.herokuapp.com//payment_failed" />
    <input type="hidden" name="checksum" value="{{checksum}}" />
    <label>Price</label>
    <input type="text" name="amount" value="{{price}}"/>
    <input type="submit" value="Buy Game"/>
</form>
{% endblock %}
