{% extends 'base.html' %} {% block title %}{{game.game_name}}{% endblock %} {% block header %}
<
<style type="text/css">
  button {
    background-color: #003250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #game_frame {
    border: 0;
    text-align: center;
  }
  .clickButton {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

      #share a.click {
        font-size:13px;
        font-weight:bold;
        text-align:center;
        color:#fff;
        border:1px solid #FFF;
        background-color:#5D7DAE;
        cursor: pointer;
        text-decoration:none;
        width:80px;
        display:block;
      }



.clickButton {
    background-color: blue;
}
</style>

<script>
  $(document).ready(function() {
    "use strict"
    $(window).on('message', function(e) {
      // For Chrome, the real event is in the event.originalEvent object.
      var data = e.originalEvent.data;
      //alert(JSON.stringify(data, null, 4));
      if (data.messageType == "SAVE") {
        $.ajax({
          type: "POST",
          url: "/save/",
          data: {
            'game_name': '{{game.game_name}}',
            'player_name': '{{request.user.username}}',
            'state': JSON.stringify(data),
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          dataType: "json",
        });
      } else if (data.messageType == "SCORE") {
        $.ajax({
          type: "POST",
          url: "/score/",
          data: {
            'game_name': '{{game.game_name}}',
            'player_name': '{{request.user.username}}',
            'state': JSON.stringify(data),
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          dataType: "json",
        });
      } else if (data.messageType == "LOAD_REQUEST") {
        $.ajax({
          type: "POST",
          url: "/load/",
          data: {
            'game_name': '{{game.game_name}}',
            'player_name': '{{request.user.username}}',
            'json': JSON.stringify(data),
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          dataType: "json",
          success: function(data){
            data.gameState=JSON.parse(data.gameState);
            document.getElementById("game_frame").contentWindow.postMessage(data, "*");
          }
        });
        document.getElementById("game_frame").contentWindow.postMessage(data, "*");

      } else if (data.messageType == "SETTING") {
        document.getElementById("game_frame").width = data.options.width;
        document.getElementById("game_frame").height = data.options.height;
      } else if (data.messageType == "LOAD") {
        document.getElementById("game_frame").contentWindow.postMessage(data, "*");
      }
    })
  });

  //Thanks to: http://stackoverflow.com/questions/819416/adjust-width-height-of-iframe-to-fit-with-content-in-it
  window.addEventListener('DOMContentReady', function(e) {
    var iframes = document.querySelectorAll("iframe");
    for (var i = 0; i < iframes.length; i++) {
      iframes[i].width = iFrame.contentWindow.document.body.scrollWidth+10;
      iframes[i].height = iFrame.contentWindow.document.body.scrollHeight+10;
    }
  });
</script>
{% endblock %} {% block content %}
<div id="centertag" class="registration-container">
  <div>
    <iframe id="game_frame" src="{{game.game_url}}" width="1920" height="1080">
  <p>Your browser does not support iframes.</p>

</iframe>

    <br />
    <a href="{{game.game_name.split|join:" _ "}}">
      <b>
  {{game.game_name }}
  </b> by {{game.game_developer}}
      <br /> ${{game.game_price|floatformat:2}}
    </a>
  </div>
  <a class ="clickButton" href="/highscores/{{game.game_name}}">
  Get Highscores for the game
  </a>
  <p><a href="{% url 'home' %}">Go back</a> to home page</p>
  <a id ="share" href="https://www.facebook.com/sharer/sharer.php?u=https://tranquil-springs-62093.herokuapp.com/{{ request.get_full_path }}">
Share Facebook
</a>

</div>
 {% endblock %}
