{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Play2Win{% endblock %}
{% block content %}
<link href="static/styles.css" rel="stylesheet" type="text/css" />

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <!-- images should come here -->
    </a>
    <h1>Search and play games over Play2Win </h1>
    <p>Get fascinating games to choose from and get addicted to !!!!</p>

    <a class="btn btn-primary" href="https://course-gitlab.tut.fi/wsd-2018/g-064.git"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Add Games from here <a href="/add_game" class="alert-link">Add games</a>.</br>Only developers can add games
  </div>
  <hr>
  <div class="row">

    <div class="col-md-6">
        <h2>Play available games Games..</h2>
        <div id="centertag" class="registration-container">
                <p class="darktext">
                  <ul>
        {% for game in allgames %}
                  <li>
                    <a href="/games/{{game.game_name.split|join:"_"}}"><b>{{game.game_name}}</b> by {{game.game_developer}} ${{game.game_price|floatformat:2}}</a>
                  </li>
        {% empty %}No games have been added yet.
        {% endfor %}
      </ul>
                </p>
        </div>
    </div>
  </div> <!-- row -->
<div class="alert alert-info text-center" role="alert">Developed by: <a href="https://github.com/Shaptarshi-Basu">Shaptarshi Basu</a></div>
</div> <!-- container -->
{% endblock %}
